<style>
    /* Overwrite CSS variable */
    :root {
        --zh-font-family: "Noto Serif SC", sans-serif;
        --base-font-family: var(--zh-font-family),var(--sys-font-family);
        --code_font-family: "Cascadia Code", var(--zh-font-family);
    }
</style>

<script>
    (function () {
        const NotoSerif = document.createElement('link');
        NotoSerif.href = "https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap";
    
        NotoSerif.type = "text/css";
        NotoSerif.rel = "stylesheet";
    
        document.head.appendChild(NotoSerif);
    }());
    (function () {
        const CascadiaCode = document.createElement('link');
        CascadiaCode.href = "https://cdn.jsdelivr.net/npm/@callmebill/lxgw-wenkai-web@latest/style.css";
    
        CascadiaCode.type = "text/css";
        CascadiaCode.rel = "stylesheet";
    
        document.head.appendChild(CascadiaCode);
    }());
</script>